<!doctype html>
<html lang="en">
<%- include ('includes/head.ejs') %>
<body>
<%- include ('includes/header.ejs') %>

<main>
    <h2 style="text-align: center"><%-post.title%></h2>
    <article>
        <small>Posted by <%=post.name%> on <%=new Date(post.createdDate).getDate()%>/<%=new Date(post.createdDate).getMonth()+1%>
            /<%=new Date(post.createdDate).getFullYear()%>
        </small>
        <div>
        <%-post.body%>
        </div>
    </article>
    <%if(user.userid==post.userID){%>
        <a href="/post/editpost<%-post.id%>" class="button">Edit Post</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <form STYLE="display: inline" action="/post/deletePost<%-post.id%>" method="post">
        <button class="button">Delete Post</button>
    </form>
    <%}else if(user.role=="admin"){%>
    <form STYLE="display: inline" action="/post/deletePost<%-post.id%>" method="post">
    <button class="button">Delete Post</button>
    </form>
    <%}%>


</main>

<%-include ('includes/footer.ejs')%>
</body>
</html>